*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    header{
        display: flex;
        justify-content:space-between;
        background-color: #000000;
        color: white;
        padding: 0.7em;
        align-items: center;
        .lista{
            list-style: none;
            display: flex;
            gap: 1em;
            button{
                font-weight: 100;
                color: aliceblue;
                background-color:hsl(227.37deg 12.26% 30.39%);
                padding: 0.3em;
                cursor: pointer;
                border-radius: 0.3em;
                padding: 0.6em;
                transition: all 0.3s;
            }
            .verde{
                background-color: green;
            }
        }
    }
    main{
        .img_font{
            height: 100vh;
            background-image: url(https://fastly.picsum.photos/id/188/1000/660.jpg?hmac=uU6tbtthJpzPqN7DM01JfhpJu0OZN0jG6_I6rN-TOe8);
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            box-sizing:border-box;
            .titulo{
                height: 100%;
                color: aliceblue;
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                background-color: #000a;
                line-height: 4em;
                h1{
                    font-size: 3em;
                }
                p{
                    font-size: 1.3em;
                    font-weight:100;
                }
            }
        }
        .texto{
            margin: auto;
            width: 50%;
            h2{
                padding: 1em 0;
                font-size: 2em;
                font-weight: 100;
            }
            p{
                font-size: 0.9em;
                column-count: 2;
                column-gap: 1em;
                line-height: 2em;
            }
            img{
                padding: 1em 0;
                width: 100%;
                background-size: cover;
            }
        }
    }
}
.b:hover{
    background-color: rgb(85, 88, 109);
}